@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    
}
body{
    font-family: 'Roboto',sans-serif;
    
  
    
}

.sidebar{
    position:fixed;
    left:0px;
    width: 250px;
    height: 100%;
    background-color: rgb(133, 137, 133);
    transition: all .5s ease;
}
.sidebar header{
    font-size: 40px;
    color: beige;
    text-align: center;
    line-height: 70px;
    text-shadow: 2px 2px 5px red;
    background-color: rgb(38, 37, 37);
    user-select: none;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height:65px;
    font-size: 20px;
    color: rgb(9, 9, 9);
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgb(38, 37, 37);
    border-bottom:1px solid rgb(38, 37, 37); 
    transition: 1s;
    
}
ul li:hover a{
    padding-left: 50px;
}

.sidebar ul a i{
    margin-right: 10px;
}
 #check{
    display: none;
}

.home{    
    background-position: center;
    height: 100vh;
    transition: all 0.5s;
    background: url(/img/frames.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
  
 }


   .home h1{
    font-family: cursive;
    
    padding-left: 230px;
    padding-top: 250px;
    padding-right: 30px;
    padding-bottom: 300px;
    text-align: center;
    content:attr(data-text);
    color: #050303;
    overflow: hidden;
    white-space: nowrap; 
    animation:animate 5s linear infinite ;
    font-weight: 900;
    font-size: 80px;
   /* filter: drop-shadow(0 0 20px #cfbf2d ) drop-shadow(0 0 20px #ec3c4b ); */
} 

@keyframes animate
{
    0%,10%,100%
    {
        width: 0;
    }
    70%,90%
    {
        width: 100%;
    }
}


 
.contact{
    position:justify;
    min-height:100vh ;
    padding-top: 50px;
    padding-left:  300px  ;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    }
    .contact{
        background: url(/img/guide.jpg) repeat 0 0;
    background-size: cover;
    

    }

    .contact .content{
        max-width: 800px;
        text-align: center;
       }

     .contact .content h2{
        font-size: 50px;
        font-weight: 800;
        color: #090909;
       

          
    }
    .contact .content p{
        font-weight: 800;
        font-size: larger;
        color:#050303;
    }
    .container{
        width: 100%;
        display: flex;
        justify-content:center ;
        align-items: center;
        margin-top: 30px; 

    }
    .container .contactInfo{
        width:50%;
        display: flex;
        flex-direction: column;
    }
    .container .contactInfo .box{
        position:justify;
        padding: 60px;
        display: flex;
        
    }
    .container .contactInfo .box .icon{
        min-width: 60px;
        height: 60px;
        background:#f0f3f5;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 22px;

    }
    .container .contactInfo .box .text{
        display: flex;
        margin-left: 20px;
        text-shadow: #000000;
        font-size: 16px;
        color: #000000;
        flex-direction: column;
        font-weight: 900;
        text-shadow: #000000;

    }
    .container .contactInfo .box .text h3{
        font-weight: 1000;
        color: rgb(6, 5, 5);
    }
    .containerForm{
        width: 40%;
        padding: 40px;
        background:#fff ;
    }
    .containerForm h2{
        font-size: 30px;
        color: #333;
        font-weight: 500;
    }
    .containerForm .inputBox{
        position: relative;
        width: 100%;
        margin-top: 10px;
    }
    .containerForm .inputBox input,
    .containerForm .inputBox textarea
    {
        width: 100%;
        padding: 5px 0;
        font-size: 16px;
        margin: 10px 0;
        border: none;
        border-bottom: 2px solid #333;
        outline: none;

    }
    .containerForm .inputBox span{
        position: absolute;
        left: 0;
        padding: 5px,0;
        font-size: 16px;
        margin: 10px 0;
        font-weight: 500;
        pointer-events: none;
        transition: 0.5s;
        color: #666;


    }
    .containerForm .inputBox input:focus ~ span,
    .containerForm .inputBox input:valid ~ span,
    
    .containerForm .inputBox textarea:focus ~ span,
    .containerForm .inputBox textarea:valid ~ span{
        color: #e91e63;
        font-size: 10px;
        font-weight: 100;
        transform: translate(-20px);
    }
    .containerForm .inputBox input[type="submit"]
    { 
        width: 100px;
        background-color: #0a5275;
        color: #fff;
        border: none;
        cursor: pointer;
        padding:10px;
        font-size:18;



    }
    .cards{
        height: 100vh;
        width: 100%;
        background-image: url(/img/3.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 5s;

        animation-name: animates;
        animation-direction: alternate-reverse;
        animation-duration: 30s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: running;
        animation-timing-function: ease-in-out;
       
        

    }
    @keyframes animates 
    {
        0%{
        background-image: url(img/1.jpg);
    }
    20%{
        background-image: url(img/2.jpg);
    }
    40%{
        background-image: url(img/3.jpeg);
    }60%{
        background-image: url(img/4.jpg);
        
    }80%{
        background-image: url(img/5.jpg);
    }
    100%{
        background-image: url(img/taj.jpg);
    }

    }
    .guide{
        width: 600px;
        background-image: url(img/information\ bg.JPG);
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode:overlay;
        margin-left: 400px;
        position:center;
        background-color: rgba(209, 196, 196, 0.5);
        padding: 20px;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        /* display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center; */
        
       
    }
   
    .guide h1{
        
            text-align: center;
            margin-bottom: 20px;
        
    }
    .guide p,li {
        line-height: 1.5;
        margin-bottom: 10px;
        text-shadow: #fff;
        text-decoration-color: #fff;
        font-size: medium;
        font-weight: 300;
        font-family: sans-serif;
        color: #050404;
      }

    

        
    


 
